body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.messages {
  max-height: 300px;
}

@media(min-width: 576px) {
  .messages {
    max-height: 450px;
  }
}

@media(min-width: 768px) {
  .messages {
    max-height: 450px;
  }
}

@media(min-width: 992px) {
  .messages {
    max-height: 600px;
  }
}

@media(min-width: 1200px) {
  .messages {
    max-height: 600px;
  }
}